<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- FONT -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Raleway:ital@1&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>


        <title>MOVIE NOTE</title>

        <script>

        </script>
    </head>
    <body>
        <header>
            <h1 class="header">MOVIE NOTE</h1>
            <span class="header_line"></span>
        </header>
        <div class="main_center">
            <div class="my_list">
                <h2>MY LIST</h2>
                <div class="add_review">
                    <button onclick="writeBtn()" class="write_btn">ADD REVIEW</button>
                    <div id="write_wrap" class="write_wrap">
                        <div class="write_date">
                            <span class="write_div">날짜</span>
                            <input id="post_date" type="text" placeholder="작성날짜를 입력하세요">
                        </div>
                        <div class="write_title">
                            <span class="write_div">제목</span>
                            <input id="post_title" type="text" placeholder="제목을 입력하세요">
                        </div>
                        <div class="write_url">
                            <span class="write_div">URL</span>
                            <input id="post_url" type="text" placeholder="URL을 입력하세요">
                        </div>
                        <div class="write_review">
                            <span class="write_div">리뷰</span>
                            <textarea id="post_comment" cols="30" rows="5" placeholder="130자 이내로 작성하세요"
                                      onkeyup='validateLength(this)'></textarea>
                        </div>
                        <button onclick="writeComplete()" id="add_btn" class="write_complete">ADD</button>
                        <button onclick="close()" id="close_btn" class="close">
                            <span class="material-icons">
                                clear
                            </span>
                        </button>
                    </div>
                </div>
                <div id="review_box" class="reviews clearfix">
                    <div class="review clearfix">
                        <img class="review_img"
                             src="https://movie-phinf.pstatic.net/20201021_273/16032618054109Yvje_JPEG/movie_image.jpg"
                             alt="">
                        <div class="review_wrap">
                            <p class="review_date">20201101</p>
                            <p class="review_title">삼진그룹 영어 토익반</p>
                            <span class="line"></span>
                            <p class="review_line">" 그와 사는가 그들은 군영과 과실이 풍부하게 실로 곧 뿐이다. 얼마나 두기 하는 곳으로 꽃 청춘이 따뜻한 않는 봄바람이다.
                                아니더면, 우리 수 찬미를 피다. 동해물과 백두산이 마르고 닳도"</p>
                        </div>
                        <button onclick="close()" id="delete_btn" class="delete">
                            <span class="material-icons">
                                clear
                            </span>
                        </button>
                    </div>
                    <div class="review clearfix">
                        <img class="review_img"
                             src="https://movie-phinf.pstatic.net/20201014_280/16026390107613Rrc8_JPEG/movie_image.jpg"
                             alt="">
                        <div class="review_wrap">
                            <p class="review_date">20201101</p>
                            <p class="review_title">위플래쉬</p>
                            <span class="line"></span>
                            <p class="review_line">" 동해물과 백두산이 마르고 닳도록 하으님이 보우하사 우리 나라 만세 무궁화 삼"</p>
                        </div>
                    </div>

                    <div class="btn_wrap">
                        <button class="more_btn">MORE</button>
                    </div>
                </div>
            </div>
            <div class="result">
                <h2>MY PREFERENCE</h2>
                <div class="result_wrap clearfix">
                    <div class="result_sub genre">
                        <h3>GENRE</h3>
                        <span class="line2"></span>
                        <div id="donutchart"></div>
                        <div class="pref_wrap">
                            <h4>MY LIST</h4>
                            <span class="line2"></span>
                            <ul>
                                <li>삼진그룹 영어 토익반</li>
                                <li>위플래쉬</li>
                                <li>담보</li>
                            </ul>
                            <!--                            <h4>RECOMMEND</h4>-->
                            <!--                            <ul>-->
                            <!--                                <li>삼진그룹 영어 토익반</li>-->
                            <!--                                <li>위플래쉬</li>-->
                            <!--                                <li>담보</li>-->
                            <!--                            </ul>-->
                        </div>
                    </div>
                    <div class="result_sub actor">
                        <h3>ACTOR</h3>
                        <span class="line2"></span>
                        <div id="actors" class="actor_wrap clearfix">
                            <button class="actor_btn">
                                <img class="actor_img"
                                     src="https://search.pstatic.net/common/?src=https%3A%2F%2Fssl.pstatic.net%2Fsstatic%2Fpeople%2Fportrait%2F202004%2F20200414101216768.jpg&type=u120_150&quality=95"
                                     alt="">
                                <p class="actor_name">고아성</p>
                            </button>
                            <button class="actor_btn">
                                <img class="actor_img"
                                     src="https://search.pstatic.net/common/?src=https%3A%2F%2Fssl.pstatic.net%2Fsstatic%2Fpeople%2Fportrait%2F201709%2F20170908110821152.jpg&type=u120_150&quality=95"
                                     alt="">
                                <p class="actor_name">이솜</p>
                            </button>
                            <button class="actor_btn">
                                <img class="actor_img"
                                     src="https://search.pstatic.net/common/?src=https%3A%2F%2Fssl.pstatic.net%2Fsstatic%2Fpeople%2Fportrait%2F201710%2F20171027164708628.jpg&type=u120_150&quality=95"
                                     alt="">
                                <p class="actor_name">박혜수</p>
                            </button>
                        </div>
                        <div class="pref_wrap">
                            <h4>MY LIST</h4>
                            <span class="line2"></span>
                            <ul>
                                <li>삼진그룹 영어 토익반</li>
                                <li>위플래쉬</li>
                                <li>담보</li>
                            </ul>
                            <!--                            <h4>RECOMMEND</h4>-->
                            <!--                            <ul>-->
                            <!--                                <li>삼진그룹 영어 토익반</li>-->
                            <!--                                <li>위플래쉬</li>-->
                            <!--                                <li>담보</li>-->
                            <!--                            </ul>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>